<div class="header-module">
	<div class="page-header">
		<h1><a href="#">XChat</a> <small>chat demo application</small></h1>

		<div class="user btn-group">
			{{#if user.isAuth}}
				<a href="#personal" class="btn btn-primary"><i class="icon-user icon-white"></i> {{user.name}}</a>
			{{else}}
				<a href="#?login=true" class="login btn btn-primary">Sign in</a>
			{{/if}}
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				{{#if user.isAuth}}
					<li><a href="#" class="btn-logout">Logout</a></li>
				{{else}}
					<li><a href="#?login=true">Sign in</a></li>
					<li><a href="#?register=true">Registration</a></li>
				{{/if}}
			</ul>
		</div>

	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="{{parent.m.home}}"><a href="#!home">Home</a></li>
				{{#if user.isAuth}}
					<li class="{{parent.m.conversation}}"><a href="#!conversation">Сonversation</a></li>
					<li class="{{parent.m.personal}}"><a href="#!personal">Personal</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</div>